.home {
  background: #0f0f0f;
  color: #898989;

  main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    gap: 40px;
  }
}
