header {
  width: 100vw;
  padding: 20px 60px;
  .between {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      .logo {
        border: none;
        background: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .right {
      #logout {
        background: none;
        border: none;
        color: #898989;
        display: flex;
        align-items: center;
        font-size: larger;
        gap: 10px;
        transition: fill 0.3s ease;

        &:hover {
          cursor: pointer;
          color: #ffffff;
        }
      }

      #logout:hover svg {
        fill: #ffffff;
      }
    }
  }
}
