<form (ngSubmit)="register()">
    <p>Ange:</p>
    <input type="text" id="name" placeholder="Namn" name="name" [(ngModel)]="enteredName">
    <input type="email" id="email" placeholder="E-post" name="email" [(ngModel)]="enteredEmail">
    <input type="tel" id="tel" placeholder="Telefonnummer" name="tel" [(ngModel)]="enteredTel">
    <input type="number" id="personnummer" placeholder="Personnummer" name="personnummer" [(ngModel)]="enteredPersonalNumber">
    <input type="password" id="password" placeholder="Lösenord" name="password" [(ngModel)]="enteredPassword">
    <button type="submit">Registrera</button>
</form>